.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: skyblue;
}

.footer {
    background: green;
}

.main {
    text-align: left;
    background: tomato;
}

.aside-1 {
    background: gold;
}

.aside-2 {
    background: red;
}